@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*, *::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #f6f9fc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1.42857143;
    font-size: 16px;
    font-family: "Open Sans","Helvetica","Arial","sans-serif";
}
div{
    display:block;
}
.PageWrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.TarunBackground{
    padding-top: 150px;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}
.TarunAlgoExpertHeading{
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 35px;
    font-family: "Ubuntu","Helvetica","Arial","sans-serif";
    color: #02203c;
    font-weight: 400;
    line-height: 1.3;
}
.Tarun-btn-property{
    text-align: center;
    margin: 0 0 50px 0;
}